@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url(./pages/variables.css);
@import url(./components/button.css);
@import url(./components/input.css);
@import url(./pages/header.css);
@import url(./pages/main.css);
@import url(./pages/footer.css);
@import url(./pages/info-block.css);
@import url(./pages/highlight.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
input {
  border: none;
  outline: none;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  width: 1240px;
  margin: 0 auto;
}
.discout-popup {
  background-color: #000000;
}
.discout-wrap {
  width: 1240px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: nunito;
  color: #ffffff;
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
    margin: 0 auto;
  }
  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 18.9px;
  }
}
