.btn {
  font-family: nunito;
  height: 52px;
  border-radius: 62px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
.btn-outline {
  background-color: #000000;
  color: #ffffff;
  width: 210px;
}
