.header {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-wrap {
  height: 96px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
  li {
    display: flex;
  }
  a {
    color: #000000;
    font-family: nunito;
  }
}

.icon {
  display: flex;
  align-items: center;
  gap: 14px;
}
